header .unknown {
  background-color: black;
  color: white;
}
/*Start CSS responsive*/
@media screen and (min-width: 960px) {
  section .content {
    float: left;
    width: 70%;
  }
  section aside {
    float: left;
    width: 30%;
  }
  .content {
    padding-right: 30px;
  }
  .post {
    box-shadow: 5px 10px 14px 1px rgba(194, 194, 194, 1);
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  section .content {
    float: left;
    width: 100%;
  }
  section aside {
    float: left;
    width: 100%;
  }
  .item.post {
    border: 1px solid #dfdfdf;
  }
}
/*End CSS responsive*/
/*Start CSS content*/

/*CSS list post*/
.post .wall-image {
  width: 100%;
  height: 50% !important;
}
.post {
  margin-bottom: 30px;
}
.post .post-detail {
  padding: 10px 40px 10px 20px;
}
.post .time {
  font-size: 16px;
  color: gray;
}
.post .post-content {
  margin: 30px 0px 30px 0px;
  text-align: justify;
}
.post .bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.post .bottom .num-of-comment {
  background-color: black;
  color: white;
}
.post .bottom .read-more {
  height: 40px;
  border: 1px solid gray;
  background: white;
  padding: 0px 20px;
}
.post .label-comment {
  height: 40px;
  display: inline-block;
  line-height: 40px;
}
/*End CSS list post*/

/*CSS aside*/
.widget {
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
}
.profile .user-info {
  padding: 15px;
}
.profile .user-image {
  width: 100%;
  height: auto;
}
.profile .user-about {
  text-align: justify;
}

.widget .header {
  background-color: gray;
  font-size: 18px;
  padding: 15px 15px;
}
.popular-post ul.list-popular-post {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.post-item:last-child {
  border-bottom: none;
}
.post-item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
}
.post-item:hover {
  background-color: #dfdfdf;
}
.post-item .post-image {
  max-width: 50px;
  max-height: 50px;
}
.post-item .post-item-info {
  padding: 0px 10px;
}
.post-item .post-item-info .post-item-title {
  margin: 0px;
  padding: 0px 0px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}
.post-item .post-item-info .post-item-description {
  margin: 0px;
  padding: 0px 0px;
  font-size: 15px;
  margin-top: 5px;
}

.tags .tags-body {
  padding: 15px;
}
.tags .tags-body .tag {
  background-color: gray;
  font-size: 15px;
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
}
.tags .tags-body .tag.active {
  background-color: black;
  color: white;
}
/*End css aside*/

/*End CSS content*/
