.navbarHeading {
  font-family: cursive;
  font-weight: 700;
  font-size: 20px;
}

.NavbarText {
  font-family: cursive;
  font-weight: 700;
  text-decoration: none;
}

/* SingUp Stylings */

.card {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5%;
  border: 2px solid white;
  border-radius: 2%;
  text-align: center;
  box-shadow: 10px 10px 10px grey;
}

.cardContent {
  width: 40%;
}

.h1card {
  margin-top: 5%;
  font-family: cursive;
}

.cardimg {
  margin: 10%;
}

.cardIcon {
  margin-top: 25px;
  margin-right: 10px;
}

.cardtextfeild {
  width: 70%;
  margin-top: 5%;
}

.cardforget {
  margin-top: 30px;
}
